body {
    font-family: monospace;
    font-size: 12px;
    font-weight: none;
    padding: 0;
    background-color: #E1CDB5;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

span {
    font-weight: bold;
}

div {
    padding: 5px;
}

div:nth-of-type(4) p:nth-of-type(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div:nth-of-type(4) p:nth-of-type(2) {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

strong {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div:nth-of-type(5) li:nth-of-type(1) {
    font-size: 2em;
    font-weight: bold;
}

div:nth-of-type(5) li:nth-of-type(2) {
    font-size: 1.9em;
    font-weight: bold;
}

div:nth-of-type(5) li:nth-of-type(3) {
    font-size: 1.8em;
    font-weight: bold;
    
}

div:nth-of-type(6) li:nth-of-type(1) {
    font-size: 1.7em;
}

div:nth-of-type(6) li:nth-of-type(2) {
    font-size: 1.6em;
}

div:nth-of-type(6) li:nth-of-type(3) {
    font-size: 1.5em;
}

div:nth-of-type(6) li:nth-of-type(4) {
    font-size: 1.4em;
}

div:nth-of-type(6) li:nth-of-type(5) {
    font-size: 1.3em;
}

div:nth-of-type(6) li:nth-of-type(6) {
    font-size: 1.2em;
}

div:nth-of-type(6) li:nth-of-type(7) {
    font-size: 1.1em;
}

div li:nth-of-type(odd) {
    font-style: italic;
    text-decoration: underline;
}

.whoIAm {
    position: absolute;
    left: 250px;
    top: 160px;
    max-width: 80%;
}

.myImage img {
    border-radius: 50% 50%;
    padding: 0px 5px 5px 0px;
    background-color: #B7990D;
}

